coveralls
Django<=3.2
elasticsearch==7.13.4
elasticsearch-dsl==7.4.0
factory-boy==3.2.0
flake8
html5lib==1.1
pep8==1.6.2
pillow>=8.0.1
psycopg2-binary==2.8.6
pynamodb==5.3.3
pytz==2020.5
reportlab==3.6.6
responses==0.12.1
skip-django-germanium==2.3.7.1
skip-pydjamodb==0.0.10.1
xhtml2pdf==0.2.5
XlsxWriter==0.7.7
-e ../
