<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

       function serializeObject(form) {
          var o = {};
          var a = form.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
      };


      function callMethod(method) {
        $.ajax({
            headers: {
                Accept: "text/html; charset=utf-8",
            },
            url: window.location.href,
            method: method,
        }).done(function(data) {
            $(window.document.body).html(data);
        }).fail(function(data) {
            $(window.document.body).html(data.responseText);
        });
      }

      function callDataMethod(method, output) {
        $.ajax({
            headers: {
                Accept: "text/html; charset=utf-8",
                ContentType: "application/json; charset=utf-8"
            },
            url: window.location.href,
            method: method,
            data: output,
        }).done(function(data) {
            $(window.document.body).html(data);
        }).fail(function(data) {
            $(window.document.body).html(data.responseText);
        });
      }

      $( document ).ready(function() {
          $('.get-btn').click(function() {
              callMethod('GET');
          })
          $('.options-btn').click(function() {
              callMethod('OPTIONS');
          })
          $('.post-btn').click(function() {
              callDataMethod('POST', JSON.stringify(serializeObject($('form#create'))));
          })
          $('.put-btn').click(function() {
              callDataMethod('PUT', JSON.stringify(serializeObject($('form#create'))));
          })
      });



    </script>
  </head>
  <div class="container">
    <h1>API {{ resource.get_name|title }}</h1>
    <button type="button" class="btn btn-primary get-btn">GET</button>
    <button type="button" class="btn btn-primary options-btn">OPTIONS</button>
    <pre class="prettyprint"><b>{{ request.method }} {{ request.path }}</b></pre>
    <pre class="prettyprint"><b>HTTP {{ status_code }}</b>
{% for name, value in http_headers.items %}<b>{{ name }}</b>: {{ value }}
{% endfor %}

{{ output }}</pre>

    {% if form %}
      <div class="container">
        <h2>{% if form.method == 'post' %}Create{% else %}Update{% endif %} {{ resource.get_name|title }}</h2>
        <form action="" id="create" class="form-horizontal">
          {% for field in form %}
             <div class="form-group">
               <div class="col-sm-2">
                 {{ field.label }}
               </div>
               <div class="col-sm-10">
                 {{ field }}
               </div>
             </div>
          {% endfor %}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-primary {{ form.method }}-btn">{{ form.method|upper }}</button>
            </div>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
</html>